[DEFAULT]
log_file = persister.log
log_dir = {{monasca_log_dir}}
# Default log level is WARNING
# Show debugging output in logs (sets DEBUG log level output)
debug = false
# Show more verbose log output (sets INFO log level output) if debug is False
verbose = true


[kafka]
#Comma separated list of hosts.
uri = {{kafka_uri}}
alarm_history_group_id = 1_alarm-state-transitions
alarm_history_topic = alarm-state-transitions
alarm_history_consumer_id = 1
alarm_history_client_id = 1
alarm_batch_size = 1000
alarm_max_wait_time_seconds = 30
metrics_group_id = 1_metrics
metrics_topic = metrics
metrics_consumer_id = 1
metrics_client_id = 1
metrics_batch_size = 1000
metrics_max_wait_time_seconds = 30

[influxdb]
database_name = {{influxdb_db}}
ip_address = {{influxdb_host}}
port = 8086
user = {{influxdb_user}}
password = {{influxdb_password}}

