[Unit]
Description=Monasca Persister
After=kafka.service influxdb.service

[Service]
Type=simple
User=persister
Group=monasca
Restart=on-failure
ExecStart=/usr/bin/java -Dfile.encoding=UTF-8 -Xmx8g -cp /opt/monasca/monasca-persister.jar:/opt/monasca/vertica/vertica_jdbc.jar monasca.persister.PersisterApplication server /etc/monasca/persister-config.yml

[Install]
WantedBy=multi-user.target
